body {
  margin-left: 10%;
  margin-right: 10%;
  padding: 2% 0;
}

#doneAlert {
  color: dodgerblue;
}

#correct {
  color: limegreen;
}

#wrong {
  color: crimson;
}

.notice {
  font-weight: lighter;
  font-style: italic;
}
